$trueblue: #004165;
$darkblue: #07394f;
$white: #fdfdfd;
$tmwhite: #ededed;
$grey: #a9b2b1;
$accentyellow: #f2df74;
$tmred: #772432;
$black: #0c0c0c;

@import url('https://use.typekit.net/zpj7xqi.css');
@import url('https://npmcdn.com/flatpickr/dist/themes/material_red.css');

:root {
  font: 16px / 1 Montserrat;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.HomePage {
  height: 100vh;
  background-color: $trueblue;
  overflow-x: hidden;

  header {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: -3rem;
    padding-right: 6rem;
    width: 110vw; //make math here 100vh + 6rem

    background-color: $white;
    transform: rotate(9deg);
    align-items: flex-end;
    h1 {
      margin: 0rem;
      margin-right: 3rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    h4 {
      margin: 0rem;
      margin-right: 3.5rem;
      margin-bottom: 0.5rem;
    }
  }
  body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  body section:first-child {
    margin-bottom: 20vh;
    color: $grey;

    display: block;
    div {
      width: 15rem;
      margin-left: auto;
      margin-right: auto;
    }

    input {
      display: inherit;
      width: 15rem;
    }
  }
  body section:last-child > div {
    background-color: $grey;
    width: 100vw;
  }
}

.loggedInUser {
  height: 100vh;
  background-image: url('images/loggedinuserbackground2.jpg');
  background-size: cover;
  background-position-x: -30vw;
  background-repeat: no-repeat;
  //overflow-x: hidden;
}

.UserProfile {
  article:first-child {
    background-color: $darkblue;
    display: flex;
    justify-content: space-between;
    div {
      padding-top: 1rem;
      padding-bottom: 0.75rem;
      display: inherit;
      svg {
        margin-left: 2rem;
        margin-right: 2rem;
        fill: $white;
        height: 2.75rem;
      }
      h1 {
        font-family: haboro-extended;
        font-size: 2.5rem;
        font-weight: 100;
        font-style: italic;
        color: $white;
        margin: 0rem;
        margin-left: 2rem;
      }
    }
    > svg {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 2rem;
      fill: $white;
      height: 1.75rem;
    }
  }
  .Options {
    position: absolute;
    right: 0;
    button {
      display: block;
      width: 17rem;
      font-size: 1.5rem;
      background-color: $trueblue;
      border: solid 3px $darkblue;
      border-left: solid 8px $darkblue;

      padding-top: 6px;
      padding-bottom: 8px;
      color: $white;
    }

    button:last-child {
      border-bottom: solid 8px $darkblue;
      border-radius: 0px 0px 0px 10px;
    }
  }
  article:last-child {
    margin-top: 1rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h2 {
      margin: 0rem;
      color: $white;
    }
    h2:first-child {
      margin-bottom: 1rem;
      font-style: italic;
      font-weight: 700;
    }
    div {
      margin-top: 1rem;
      display: flex;
      h2 {
        font-weight: 500;
        font-size: 1rem;
      }

      svg {
        margin-right: 0.75rem;
        height: 1.5rem;
        fill: $white;
      }
    }
    h3 {
      margin: 0rem;
      font-family: haboro-extended;
      font-weight: 500;

      text-align: right;
      color: $white;
    }
  }
}

.speechSchedule {
  > div {
    background-color: $accentyellow;

    width: 8rem;
    border-radius: 1.5rem;
    height: 6rem;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 7rem;
    margin-left: 3rem;
    text-align: center;
    line-height: 6rem;
    box-shadow: 2px 2px 6px 1px #29292975;
    color: $black;
    font-weight: 700;
  }
  > section {
    transition: (all 3s ease-out 3.5s);
    height: 75vh;
    background-image: url('images/SVG/backgroundshape.svg');
    background-size: 300vw;
    background-position-x: center;
    background-repeat: no-repeat;

    flex-direction: column;
    align-items: center;
    h1:not(:last-child) {
      font-size: 1.25rem;
      width: 90vw;
      color: $white;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    article:not(.speechButtons) {
      border-radius: 0.25rem;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;

      background-color: $white;
      box-shadow: -5px 5px 5px 0px #29292975;
      width: 90vw;
      body {
        display: flex;
      }
      body > div:last-child {
        padding-left: 1.25rem;
        border-left: solid 1px $black;
      }
      body > div:last-child h2:first-child {
        color: $black;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0rem;
        margin-bottom: 0.5rem;
        span {
          font-family: haboro-extended;
          font-size: 1.5rem;
          font-weight: 700;
          margin: 0rem;
        }
      }
      body > div:last-child h2:last-child {
        padding-top: 0.5rem;
        width: 18rem;
        border-top: solid 1px $black;
        color: #515151;

        font-size: 1.5rem;
        font-weight: 500;
        margin: 0rem;

        span {
          font-family: haboro-extended;
          font-size: 1.5rem;
          font-weight: 700;
          margin: 0rem;
          line-height: 1.8rem;
        }
      }
      body > div:first-child {
        padding-right: 1.5rem;
        margin-left: 1.5rem;
        width: 5rem;
        font-weight: 500;
        margin-top: auto;
        margin-bottom: auto;

        h4 {
          margin: 0rem;
          text-align: center;
        }
      }
      svg {
        transform: rotate(90deg);
        margin-top: 0.25rem;
        margin-right: auto;
        margin-left: auto;
        height: 1.75rem;
        fill: #515151;
      }
    }
  }

  .speechButtons {
    border: solid 10px red;
    margin-top: -1.5rem;
    padding-bottom: 0rem;
    background-color: $white;
    margin-bottom: 1rem;
    width: 90vw;
    height: 3rem;
    > button {
      background-color: $accentyellow;
      border: solid 1px $grey;
      border-radius: 0.5rem;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 1.25rem;
      width: 41%;
      height: 2.25rem;
      margin-left: 6%;
    }
    display: flex;
    > div {
      margin-left: 6%;
      width: 44%;

      h3 {
        background-color: $tmred;
        margin: 0rem;
        margin-top: -0.5rem;
        height: 1.5rem;
      }
      div {
        background-color: $tmred;
        width: 100%;
        button {
          background-color: $accentyellow;
          border: solid 1px $grey;
          border-radius: 0.5rem;
          font-family: Montserrat;
          font-weight: 400;
          font-size: 1rem;
          width: 50%;
          height: 1.25rem;
          //margin-left: 6%;
        }
      }
    }
  }
}

.NotePile {
  margin-top: 2rem;
  transition: (all 3s ease-out 3.5s);
  > div {
    background-color: $accentyellow;

    width: 6rem;
    border-radius: 25%;
    height: 6rem;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 4rem;
    margin-right: 3rem;
    text-align: center;
    line-height: 6rem;
    box-shadow: 2px 2px 6px 1px #29292975;
    color: $black;
    font-weight: 700;

    //left: 75vw;
    //bottom: 5vh;
  }
  main:first-child {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    background-color: $white;
    border-radius: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    box-shadow: -5px 5px 5px 0px #29292975;

    h1 {
      margin: 0rem;
    }
    ul {
      padding: 0rem;
      margin: 0rem;
    }
  }
  main:last-child {
    ul {
      padding: 0rem;
      margin: 0rem;

      > div {
        display: flex;

        > div {
          border-radius: 1rem;

          background-color: $white;
          margin-left: 5vw;
          max-width: 90vw;
          min-width: 40vw;
          margin-top: 1rem;
          box-shadow: -5px 5px 5px 0px #29292975;

          li {
            list-style: none;
            padding: 1rem;
          }

          svg {
            width: 2.5rem;
          }
        }
      }
      > svg {
        margin-top: 0.5rem;
        height: 1rem;
        margin-left: 7vw;
      }
    }
  }
}

// .Note {
//   li {
//     list-style: none;
//     display: flex;
//     margin-top: 2rem;
//   }
//   div > div {
//     height: 2rem;
//     display: flex;
//     border: 1px solid black;
//     border-radius: 0.5rem;
//     background-color: $truewhite;
//   }

//   h2 {
//     margin: 0rem;
//   }

//   p {
//     margin: 0rem;
//     margin-top: 1rem;
//     background-color: $truewhite;

//     border: 1px solid black;
//     border-radius: 0.5rem;
//     width: 30rem;
//     height: 20rem;
//   }
// }

// .GiveNote {
//   background-color: $truewhite;
//   // display: flex;
//   // flex-direction: column;
//   width: 100vw;
//   > div {
//     width: 25rem;
//     margin-left: auto;
//     margin-right: auto;
//     border: 1px solid red;
//   }

//   h1 {
//     color: $trueblue;
//     text-align: end;
//   }
//   input:not(:last-child) {
//     display: block;
//     width: 25rem;
//     margin-top: 1rem;
//   }
//   input:first-child {
//     height: 2rem;
//   }
//   textarea {
//     width: 25rem;
//     height: 10rem;
//   }
// }
