$trueblue: #004165;
$darkblue: #07394f;
$white: #fdfdfd;
$tmwhite: #ededed;
$grey: #a9b2b1;
$accentyellow: #f2df74;
$tmred: #772432;
$black: #0c0c0c;
$transparentblue: #004265b0;
$transparentred: #772432ad;
