$trueblue: #004165;
$darkblue: #07394f;
$white: #fdfdfd;
$tmwhite: #ededed;
$grey: #5d6262;
$accentyellow: #f2df74;
$tmred: #772432;
$black: #0c0c0c;
$transparentblue: #004265b0;
$transparentred: #772432ad;
$orange: #b65218;
